*{
    font-family: 'Unbounded', cursive;
    font-family: 'Noto Serif', serif;

}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================== First Left Pane ============================== */

#handles{
    /* border: 2px solid black; */
    height: 60vh;
    width: 40%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#profile-pic{
    border: 1px solid black;
    width: 150px;
    height: 200px;
    margin: auto;
    border-radius: 90px;
    background-image: url('./images/Profile.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#pages{
    /* border: 2px solid black; */
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 40px;
}

#pages hr{
    border: 1px solid blue;
}




/* =================== Second Left Pane ============================== */

#socials{
    /* border: 2px solid black; */
    margin-top: 50vh;
    margin-left: 0;
    position: absolute;
    height: 45vh;
    width: 40%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.social-media{

    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
}

.social-media img{
    height: 50px;
    width: 50px;
}

.social-media a{
    text-decoration: none;
    /* padding: 10px; */
    margin: auto;
    margin-top: 40px;


}

#mail{
    border: 2px solid black;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#mail a{
    text-decoration: none;
    color: orange;

}

/* =================== Right Pane ============================== */

#explan{
    border: 2px solid black;
    min-height: 90vh;
    width: 59%;
    float: right;
    padding: 5%;
    background-color: black;
}

#descr{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    min-height: 40vh;
    /* align-content: center; */
    padding: 10px;
    color: white;
    text-align: center;
}

.sect_title{
    color: orange;
    text-align: center;
}

.sect_title span{
    color: red;
    font-size: 40px;
    
}

#descr p{
    font-size: 25px;
    
}

#bio{
    display: none;
}

#additionalButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    border: 2px solid black;
    /* width: 40%; */
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#additionalButtons a{
    text-decoration: none;
    color: orangered;
    border: 2px solid white;
    padding: 12px;
    border-radius: 5px;
    margin: 20px;
}

#exp{
    color: white;
    font-size: 20px;
    display: none;
}

#exp h4 span{
    color: cyan;
}

#exp p{
    color: lemonchiffon;
}

/* =================== Footer ==================================== */
footer{
    border: 1px solid black;
    bottom: 0px;
    height: vh;
    clear: both;
    background-color: rgba(21, 20, 22, 0.733);
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/*================================ Responsiveness =================================================== */
@media screen and (max-width:660px) {
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


/*================================= First left panel ======================================= */

/* #pages{
    padding: 20px;
} */

    #handles{
        float: none;
        width: 100%;
        padding: 20px;
        /* margin-bottom: 10%; */
        /* border: 2px solid black; */
    }

    #profile-pic{
        margin-top: 20px;
        height: 350px;
        width: 150px;
    }

/*================================= Second left panel ======================================= */

    #socials{
        order: 3;
        position: relative;
        float: none;
        width: 100%;
        margin-top: 10px;
        padding-bottom: 20px;
        /* height: 80vh; */
        /* border: 2px solid black; */
    }

/*================================== Right Panel  =================================== */

    #explan{
        float: none;
        width: 100%;
        order: 2;
        /* margin-top: 0; */
    /* border: 2px solid yellow; */
    }

    #descr{
        width: 100%;
    }

    #additionalButtons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
    }


    #additionalButtons a{
        margin: 5px;
        
    }

/*================================= Footer ======================================= */

    footer{
        margin-top: 20px;
        position: relative;
        order: 4;
        border: 0;
    }

    
}