*{
    font-family: 'Unbounded', cursive;
    font-family: 'Noto Serif', serif;

}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================== First Left Pane ============================== */

#handles{
    /* border: 2px solid black; */
    height: 60vh;
    width: 40%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* position: fixed; */
    /* z-index: 999; */
    /* background-color: white; */
}

#profile-pic{
    border: 1px solid black;
    width: 150px;
    height: 200px;
    margin: auto;
    border-radius: 90px;
    background-image: url('./images/Profile.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}


#pages{
    /* border: 2px solid black; */
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 40px;
}

#pages hr{
    border: 1px solid blue;
}




/* =================== Second Left Pane ============================== */

#socials{
    /* border: 2px solid black; */
    margin-top: 50vh;
    margin-left: 0;
    position: absolute;
    height: 45vh;
    width: 40%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.social-media{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
}

.social-media img{
    height: 50px;
    width: 50px;
}

.social-media a{
    text-decoration: none;
    /* padding: 10px; */
    margin: auto;
    margin-top: 40px;


}

#socials .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: rgb(17, 17, 17);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -2px;
    margin-left: -15%;
  }

  #socials:hover .tooltiptext {
    visibility: visible;
  }

#mail{
    border: 2px solid black;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#mail a{
    text-decoration: none;
    color: orange;

}

#phone{
    width: 100%;
    /* margin-top: 10%; */
}

#phone p{
text-align: center;
font-weight: bold;
color: brown;
}

#phone p span{
color: black;
}

/* =================== Right Pane ============================== */

#explan{
    border: 2px solid black;
    min-height: 90vh;
    width: 59%;
    float: right;
    padding: 5%;
    background-color: black;
}

#descr{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    min-height: 40vh;
    /* align-content: center; */
    padding: 10px;
    color: white;
    text-align: center;
}

.sect_title{
    color: orange;
    text-align: center;
}

.sect_title span{
    color: red;
    font-size: 40px;
    
}

#descr p{
    font-size: 25px;
    
}

#bio{
    display: none;
}

#additionalButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    border: 2px solid black;
    /* width: 40%; */
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#additionalButtons a{
    text-decoration: none;
    color: orangered;
    border: 2px solid white;
    padding: 12px;
    border-radius: 5px;
    margin: 20px;
}

#exp{
    color: white;
    font-size: 20px;
    display: none;
}

#exp h4 span{
    color: cyan;
}

#exp p{
    color: lemonchiffon;
}

/*================================= Projects ======================================= */

    #projects{
        display: none;
    }

    .projo:hover {
        box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
        /* background-color: rgba(0, 140, 186, 0.5); */
    }

    .proj_img{
        width:100%;
        /* height:auto; */
        height:35%;
        border:0;
        /* margin: auto; */
    }

    .view{
        width: 100%;
        padding: 10px;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .view a{
        border: 1px solid white;
        border-radius: 4px;
        /* background-color: rgba(0, 140, 186, 1); */
        margin: 10px;
        width: 90%;
        height: 30%;
        padding: 5px;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    .view a:hover{
        background-color: white;
        color: black;
        text-decoration: none;
    }

    .projo:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }


/* =================== Footer ==================================== */
footer{
    border-top: 1px solid white;
    /* border: 1px solid black; */
    bottom: 0px;
    height: vh;
    clear: both;
    background-color: black;
    /* background-color: rgba(21, 20, 22, 0.733); */
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

/*================================ Responsiveness =================================================== */
@media screen and (max-width:660px) {
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


/*================================= First left panel ======================================= */

/* #pages{
    padding: 20px;
} */

    #handles{
        float: none;
        width: 100%;
        padding: 20px;
        position: relative;
        /* margin-bottom: 10%; */
        /* border: 2px solid black; */
    }

    #profile-pic{
        margin-top: 20px;
        height: 350px;
        width: 150px;
    }

/*================================= Second left panel ======================================= */

    #socials{
        order: 4;
        position: relative;
        float: none;
        width: 100%;
        margin-top: 10px;
        padding-bottom: 20px;
        top: 130vh;
        /* height: 80vh; */
        /* border: 2px solid black; */
    }

    #socials .tooltiptext {
        visibility: hidden;
        width: 90px;
        background-color: rgb(17, 17, 17);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -2px;
        margin-left: -15%;
      }
    
      #socials:hover .tooltiptext {
        visibility: visible;
      }

      #phone{
        width: 100%;
        margin-top: 10%;
      }

      #phone p{
        text-align: center;
        font-weight: bold;
        color: brown;
      }

      #phone p span{
        color: black;
      }
/*================================== Right Panel  =================================== */

    #explan{
        float: none;
        width: 100%;
        order: 2;
        min-height: 70vh;
        /* margin-top: 0; */
    /* border: 2px solid yellow; */
    }

    #descr{
        width: 100%;
    }

    #additionalButtons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        display: none;
    }


    #additionalButtons a{
        margin: 5px;
        
    }

/*================================= Projects ======================================= */

    #projects{
        /* margin-top: 20px; */
        display: inline-block;
        /* position: relative; */
        order: 3;
        padding: 20px;
        border: 0;
    }

    #projects p{
        color: gray;
        font-size: 20px;
        margin-top: 0;
    }

    .projo{
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        min-height: 70px;
    }

    .projo h5{
        /* color: aqua; */
        font-weight: bold;
    }

    /* .projo hr{
        border:1px solid aquamarine;
    } */

    .proj_img{
        width:100%;
        /* height:auto; */
        height:10%;
        border:0;
        /* margin: auto; */
    }

    .view{
        width: 100%;
        padding: 10px;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .view a{
        /* border: 1px solid rgb(26, 25, 25); */
        border-radius: 4px;
        background-color: rgba(0, 140, 186, 1);
        margin: 10px;
        width: 90%;
        height: 30%;
        padding: 5px;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    .view a:hover{
        background-color: black;
        text-decoration: none;
        color: white;
    }

    .projo:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    #more{
        margin: 20px;
        width: 100%;
        text-align: right;
        padding: 20px;
        /* align-items: end; */
    }
    
    #more a{
        font-style: italic;
        text-decoration: none;
        color: yellowgreen;
        font-weight: bolder;


    }

/*================================= Footer ======================================= */

    footer{
        margin-top: 20px;
        position: relative;
        order: 5;
        border: 0;
        margin-bottom: 0;
        top: 130vh;
    }

    
}