*{
    font-family: 'Unbounded', cursive;
    font-family: 'Noto Serif', serif;

}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================== Left Pane ============================== */

#handles{
    /* border: 2px solid black; */
    height: 89vh;
    width: 40%;
    float: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#profile-pic{
    border: 1px solid black;
    width: 30%;
    height: 30%;
    margin: auto;
    border-radius: 90px;
    background-image: url('./images/Profile.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#pages{
    /* border: 2px solid black; */
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 40px;
}

.social-media{

    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
}

.social-media img{
    height: 50px;
    width: 50px;
}

.social-media a{
    text-decoration: none;
    /* padding: 10px; */
    margin: auto;
    margin-top: 40px;


}

#mail{
    border: 2px solid black;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#mail a{
    text-decoration: none;
    color: orange;

}

#additionalButtons{
    border: 2px solid black;
    /* width: 40%; */
    margin: auto;
    text-align: center;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
}

#additionalButtons a{
    text-decoration: none;
    color: orangered;
    border: 2px solid white;
    padding: 12px;
    border-radius: 5px;

}

/* =================== Right Pane ============================== */

#explan{
    border: 2px solid black;
    height: 89vh;
    width: 59%;
    float: right;
    padding: 5%;
    background-color: black;
}

#descr{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    min-height: 40vh;
    /* align-content: center; */
    padding: 10px;
    color: white;
    text-align: center;
}

#descr h2{
    color: orange;
    
}

#descr h2 span{
    color: red;
    font-size: 40px;
    
}

#descr p{
    font-size: 20px;
    
}

#bio{
    display: none;
}


/* =================== Footer ==================================== */
footer{
    border: 2px solid black;
    bottom: 0px;
    height: vh;
    clear: both;
    background-color: rgba(21, 20, 22, 0.733);
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}